<h2> Check in completed for <%= @delivery.location %></h2>

<label>Quantity of Lamps</label>
  <br/>
 <%= @delivery.qty_lamps %>
 <br/>
 <label>Quantity of housings</label>
 <br/>
 <%= @delivery.qty_housings%>
 <br/>
 <label>Quantity of trims</label>
 <br/>
 <%= @delivery.qty_trims%>
 <br/>
 <label>Quantity of Fixtures</label>
 <br/>
 <%= @delivery.qty_fixtures%>
 <br/>
 <br/>
 <label>Notes</label>
 <br/>
 <%= @delivery.notes%>
 
 <footer class="branding">
      <h4><a href="/deliveries/<%= @delivery.id %>/edit">Update</a></h4>
      <h4><a href="/deliveries">Back to your deliveries</a></h4>
  <form method="Post" action="/deliveries/<%= @delivery.id %>">
      <input type="hidden" id="hidden" name="_method" value="DELETE">
      <input type="submit"  value="Delete">
   </form>     
</footer>