<h1> Completed </h1>

<label>Quantity of Lamps</label>
  <br/>
 <%= @delivery.qty_lamps %>
 <br/>
 <label>Quantity of housings</label>
 <br/>
 <%= @delivery.qty_housings%>
 <br/>
 <label>Quantity of trims</label>
 <br/>
 <%= @delivery.qty_trims%>
 <br/>
 <label>Quantity of Fixtures</label>
 <br/>
 <%= @delivery.qty_fixtures%>
 <br/>
 <label>Notes</label>
 <%= @delivery.notes%>
 