<% if @delivery.checked_in != true %>
<h2> The delivery for <%= @delivery.location %> needs to be checked in! </h2>
   <% else %>
      <h2> The delivery for <%= @delivery.location %> is checked in! </h2>
 <% end %>
 <form action="/deliveries/<%= @delivery.id %>" method="POST"> 
    <h3>Quantity of Lamps</h3>
    <%= @delivery.qty_lamps %>
    <br/>
    <h3>Quantity of housings</h3>
    <%= @delivery.qty_housings %>
    <br/>
    <h3>Quantity of trims</h3>
    <%= @delivery.qty_trims %>
    <br/>
    <h3>Quantity of Fixtures</h3>
    <%= @delivery.qty_fixtures %>
    <br/>

    
    <% if @delivery.checked_in != true %>
     <a href= "/deliveries/<%= @delivery.id %>/check_in">
      Check In for: <%= @delivery.location %> 
     </a> 
      <% else %>
         <a href= "/deliveries/<%= @delivery.id %>/edit">
         <h3> Update Delivery </h3>
     </a> 

      <% end %>
    <br/>
    </form>
    <form method="Post" action="/deliveries/<%= @delivery.id %>">
      <input type="hidden" id="hidden" name="_method" value="DELETE">
      <input type="submit"  value="Delete">
   </form>     


   